@model  List<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        
@foreach (var item in Model)
{
    <tr>
        <th scope="row">@item.ID</th>
        <td>@item.Name</td>
        <td>@Html.ActionLink("Details","Details","Customer",new {ID=item.ID  },null)</td>


    </tr>
}        
    </tbody>
</table>




